// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
  background-color: #fff;
  font-family: 'Inconsolata', monospace;
}

.list_box {
  width: 480px;
  margin: 0 auto 3rem;
}

.form_box {
  width: 780px;
  margin: 0 auto;
}

table {
  margin: 0 auto 3rem;
}

table, th {
  // border: 1px solid black;
  border-collapse: collapse;
}

th {
  background: #282828;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

td, th {
  padding: 1rem 2rem;
  text-align: center;
}

tr {
  border: none;
}

tr:nth-child(odd) {
  background: #f0f0f0;
}

tr:nth-child(even) {
  background: #d3d3d3;
}
