<!DOCTYPE>
<html>
<head>
	<title>The Dice Game</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="box_dice fade-in one">
		<div class="box_up">the</div>
		<div class="big_title"><h1>dice</h1></div>
		<div class="box_down">game</div>
	</div>

	<div id="click_play" class=" fade-in two">
		<a href="/dice_roll">click here to play</a>
	</di>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

</body>
</html>